*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-container {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 250px;
    width: auto;
    margin: 20px;
    border-radius: 30px;
    background: #FFF4F4;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #0032B9 0%, #89D5F5 100%);
    height: 100vh;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    background: rgb(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.loader {
    border: 6px solid #DAD7CD;
    border-top: 6px solid #0032B9; 
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error {
    display: none;
    background: transparent;
    border: 1px solid #ec454b;
    padding: 10px;
    margin-bottom: 10px;
    color: #ec454b;
}

.feedback {
    display: none;
    background: transparent;
    border: 1px solid #2f993d;
    padding: 10px;
    margin-bottom: 10px;
    color: #2f993d;
}

.clear {
    background: transparent;
    border: none;
    color: #2B2B2B;
}

.solid {
    margin-top: 6px;
    background: #2B2B2B;
    color: #FFF4F4;
    border: none;
}

.outline {
    background: transparent;
    color: #2B2B2B;
    border: 1px solid #2B2B2B;
}

.danger:hover {
    transition: 0.7s;
    background: #ec454b;
    color: #2B2B2B;
}

.danger {
    background: transparent;
    color: #e66969;
    border: 1px solid #e66969;
    display: none;
}

input, button {
    margin-bottom: 10px;
    padding: 10px;
    width: -webkit-fill-available;
}

button {
    letter-spacing: 1.0px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 40px;
    cursor: pointer;
}

button:hover {
    transition: 0.7s;
    background: #89D5F5;
}

button:active {
    transition: 0.1s;
    opacity: 0.8;
}

ul {
    list-style-type:none;
    padding-left: 0;
}

il {
    list-style-type: none;
}

@font-face {
    font-family: 'Aileron';
    src: url('src/Aileron-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans';
    src: url('src/ClearSans-Regular.ttf');
    font-style: normal;
}