form {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 350px;
    border-radius: 70px;
    background: #FFF4F4;
}

img {
    width: 70%;
    margin-bottom: 30px;
}


