body {
    overflow-y: auto;
}

.content-container {
    overflow: auto;
    min-height: auto;
}

.users-container {
    background: #dad5d5;
    border-radius: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    width: auto;
    padding: 15px;
    overflow: auto;
    min-height: auto;
}

.title {
    font-family: 'Aileron';
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

li {
    border-bottom: 1px solid #9c9c9c;
    font-family: 'ClearSans';
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    margin-bottom: 14px;
}

div ul {
    min-height: 10px;
}

form div button {
    width: auto;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
    padding: 5px;
    margin-bottom: 8px;
}


.decline:hover {
    transition: 0.7s;
    background: #ec454b;
}

.clearHome {
    background: transparent;
    border: none;
    color: #FFF4F4;
}

.goHome {
    background: transparent;
    border: none;
    color: #FFF4F4;

    position: absolute;
    left: 0;
}

.decline[disabled]:hover {
    background: fixed;
}

.item-title {
    font-family: 'ClearSans';
    padding: 4px;
    margin-bottom: 6px;
}

input {
    margin-top: 10px;
}